
 <nav class="navbar navbar-dark bg-dark">

        <a class="navbar-brand" style=" text-decoration: none;"href="/">Simple Banking</a>
  
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link "   style=" text-decoration: none !important;"href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style=" text-decoration: none !important;" href="/customer"> Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style=" text-decoration: none !important;" href="/transactions"> Transactions history</a>
            </li>
            
          </ul>

 </nav>