
    <div class="container" style="font-family: 'Abel', sans-serif;">
        <div class="text-center" style="color: aliceblue;">
            <div class="jumbotron jumbotron-fluid" style="
            background-image: url(https://content.timesjobs.com/img/78496678/Master.jpg); 
            background-repeat: no-repeat;
             background-position: center;
             background-size: cover;
             margin-top:-1%;
             height: 500px; width: 1250px;">
                <div class="container" >
                  <h1 class="display-3 font-weight-bold" >Simple Banking</h1>
             
                </div>
              </div>
          
        </div>
        

        <div class="row mb-2" style="margin-top: 3%; ">
            <div class="col-md-4 col-sm-6 p-4 borderborder-light">
                <h2><i class="fas fa-wallet"></i></h2>
                <h2>Account Management</h2>
                <p class="text-muted">All accounts are displayed clearly in one place.</p>
            </div>
            <div class="col-md-4 col-sm-6 p-4  borderborder-light" >
                <h2><i class="fas fa-comments-dollar"></i></h2>
                <h2> Money Tansfer</h2>
                <p class="text-muted">Easy methods to transfer  money.  </p>
            </div>
            <div class="col-md-4 col-sm-8 offset-sm-2 offset-md-0 p-4  borderborder-light" >
                <h2><i class="fas fa-clipboard-list"></i></h2>
                <h2>All Transactions</h2>
                <p class="text-muted">All transctions  that  took place can  be viewed.</p>
            </div>
        </div>
       
    </div>
